 body{margin-top:100px;padding:0;width:100%;font-size:1em;}
a{text-decoration:none;}
.middle{width:100%;height:100vh;display:flex;align-content:center; justify-content: center;}
#data-bar{display:none; overflow:hidden;}
#data-sbar{display:none; animation:show 1s; position:relative;z-index:100;}
#data-bar a{color:#fff; background:#090;padding:10px;text-align:center; border:1px solid #111;}
@media screen and (max-width:480px){ #data-bar a{width:100%; display:block}}
.mobile .btn{float:right; vertical-align:baseline;}

h1,h2,h3,h4,h5,h6{font-weight:340;}
fieldset{border:2px solid #090;margin:10px;}
hr{width:100%;height:3px;background-color:#090}
/** All action forms basic design**/
.action_form{margin:auto;width:90%;max-width:380px;border:1px solid #090;box-shadow:0 0 9px #090;color:#090;text-align:center;padding:10px;}
.action_form input[type="submit"]{padding:5px 13px;height:50px;width:100%;font-size:1em;color:white;background:#090;border:2px solid #fff; border-radius:10px;}
.action_form input[type="text"],input[type="password"],input[type="email"],input[type="number"],select{border-radius:4px;width:100%;height:50px;background:#ded;text-align:center;border:0px;margin-bottom:10px;}
input[type="checkbox"]{height:20px !important;color:#090;size:20px}
.action_form span{font-size:0.8em;margin:10px;}
/** css rules for notice cards **/
.notice{max-width:300px;padding:15px;margin:20px auto;text-align:center;border-left:3px solid #080;box-shadow:0 0 3px skyblue;opacity:0.7}
#sbar,#bar{font-size:1em;color:lime;border:1px solid gray; border-radius:3px;padding:5px;}
#search{width:20px; height:20px;border:3px solid #000;padding:3px 7px;font-size:1.5rem;}
.hide:after{ content:"\2573";float:right;padding:4px 8px;color:green}
.success{background:#0c0;}
.failed{background:#f00;color:#fff}
.normal{opacity:1.0 !important;color:#245; background:#eee}
.mobile{background:#222;padding:10px; overflow:hidden;}

.btn{padding:6px 12px;margin:5px;font-size:0.8rem;}
.standard{background:#090;color:#fff; text-align:center; border-radius:6px;border:0;}
.stick{position:fixed;bottom:10px;right:10px; background:#090; opacity:0.5;padding:8px;font-size:15px;}
#sbar{float:right}
.stick:after{content:"^";color:white;}
a:hover{transform: translateY(3px);border:1px solid #090;}
button:hover{opacity:0.7;transform: translateY(3px); border:0;}
input:hover{border:2px solid blue; border-radius:0px; opacity:0.6}
span:hover{color:white}
@media screen and (min-width:650px){
 #bar{display:none}
 #data-bar{display:block;background-color:black;padding:10px;width:100%}
 #data-bar a{display:inline;padding:10px 20px;}
}